/*=== abstracts css start === */
@font-face {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  src: url("../fonts/impact.ttf");
}
@font-face {
  font-family: Tahoma, sans-serif;
  src: url("../fonts/tahoma-bold.ttf");
}
@font-face {
  font-family: Gloss-And-Bloom;
  src: url("../fonts/Gloss_And_Bloom.ttf");
}
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: Tahoma, sans-serif;
}

/*===// end of base css === */
/*=== components css start === */
.primary-btn {
  font-family: Impact;
  font-size: 1.25rem;
  color: #fff;
  font-style: italic;
  min-width: 120px;
  border-radius: 7px;
  background-image: linear-gradient(90deg, rgb(0, 80, 243) 0%, rgb(10, 75, 143) 100%);
  box-shadow: inset -2px -2px 3px 0px rgba(0, 0, 0, 0.75);
}
@media (min-width: 1200px) {
  .primary-btn {
    font-size: 3.5rem;
    padding-inline: 3rem;
    padding-block: 5px;
    min-width: 250px;
    line-height: 1;
  }
}

/*===// end of components css === */
/*=== layout css start === */
.home-header .navbar .navbar-brand img {
  height: 80px;
}
.home-header .navbar .nav-link {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}
@media (min-width: 992px) {
  .home-header .navbar .nav-link {
    font-size: 20px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

/*===// end of layout css === */
/*=== pages start === */
.home .banner {
  background: url(../images/home/banner-bg.png) no-repeat center center/cover;
  padding: 30px 0 150px 0;
}
@media (max-width: 1300px) {
  .home .banner .wave {
    bottom: 0;
  }
}
.home .join-best-program .title {
  font-family: Gloss-And-Bloom;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .home .join-best-program .title {
    font-size: 40px;
  }
}
.home .join-best-program .lead {
  font-family: Tahoma, sans-serif;
}
.home .tittok-board-pay-plan .title {
  font-family: Tahoma, sans-serif;
  color: #7030a0;
  font-weight: bold;
}
@media (min-width: 1200px) {
  .home .tittok-board-pay-plan .title {
    font-size: 40px;
  }
}
.home .tittok-board-pay-plan p {
  font-family: Tahoma, sans-serif;
  font-weight: 600;
}
.home .total-rewards .title {
  font-family: Gloss-And-Bloom;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .home .total-rewards .title {
    font-size: 40px;
  }
}
.home .canva-templates .title {
  font-family: Tahoma, sans-serif;
  font-weight: 700;
  color: #00a633;
}
@media (min-width: 1200px) {
  .home .canva-templates .title {
    font-size: 40px;
  }
}

/*===// end of pages  === */